body {
    max-width: 800px;
    margin: 0 auto;
  }
  
  .sender-column {
    text-align: right;
  }
  
  h1 {
    font-size: 1.5em;
  }
  
  h2 {
    font-size: 1.3em;
  }
  
  p,ul,ol,dl,address {
    font-size: 1.1em;
  }
  
  p, li, dd, dt, address {
    line-height: 1.5;
  }

  .bold {
    font-weight: bold;
  }

  .address-right {
    position:absolute;
   top: 20px;
   right: 20px;
   
  }

  .address-left {
    margin-top: 300px;
  }

  .date-right {
    float: right;
  }

  .bold-qoute {
    font-weight: 545;
  }

  .indent {
   margin-left: 35px;
  }